{% extends "base.html" %}

{% block title %}Available Notebooks{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="mb-4">Available Analyses</h1>
        
        <div class="list-group">
            {% for notebook in notebooks %}
            <a href="{{ url_for('show_notebook', filename=notebook.filename) }}" 
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ notebook.name }}</h5>
                    <small>Last modified: {{ notebook.modified }}</small>
                </div>
                <p class="mb-1">Click to view analysis</p>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}